* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  width: 100%;
}

body {
  margin: 0;
  font-family: "3e_textregular";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #004062;
  text-align: left;
  background-color: #fff;
  background: #fff;
}

.region-sidebar {
  width: 10%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 10001;
  background: #fff;
  padding-top: 52px;
  padding-bottom: 52px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

*,
:after,
:before {
  box-sizing: border-box;
}

.region-sidebar .block-system-branding-block {
  text-align: center;
  margin-bottom: 66px;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul ul {
  margin-bottom: 0;
}

ul.menu {
  margin-left: 0px;
  padding: 0;
  list-style: none outside;
  text-align: left;
}

.menu li ul {
  display: none;
  position: absolute;
  top: 0px;
  right: -250px;
  width: 250px;
  background: #fff;
  height: auto;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.08);
  padding-top: 52px;
}

.menu li:hover ul {
  display: block;
}

.menu-item--expanded {
  list-style-type: circle;
  list-style-image: url(https://3e.eu/core/misc/menu-expanded.png);
}

.menu-item {
  margin: 0;
  padding-top: 0.2em;
}

ul .menu-item {
  padding-top: 0px;
}

.menu-item--expanded {
  list-style-type: none;
  list-style-image: none;
}

nav {
  display: block;
}

#block-custom-3e-main-menu {
  position: initial !important;
}

a {
  background-color: transparent;
  color: #007bff;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  transition: all 0.2s ease-out;
}

.d-inline-block {
  display: inline-block !important;
}

.region-sidebar .block-system-branding-block .site-logo {
  max-width: 64px;
  width: 100%;
  height: 44px;
}

a:active,
a:hover {
  outline: 0;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.menu li a {
  font-size: 14px;
  line-height: 17px;
  padding: 16px 30px;
  display: block;
  position: relative;
  color: #004062;
  transition: all 0.2s ease-out;
}

.menu li a:before {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
  content: "";
  height: 100%;
  background: rgba(61, 153, 133, 0.4);
  z-index: 2;
  transition: all 0.2s ease-out;
}

.menu li a:after {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
  content: "";
  height: 100%;
  background: rgba(61, 153, 133, 0.1);
  z-index: 1;
  transition: all 0.2s ease-out;
}

.menu li a:hover {
  text-decoration: none;
  font-weight: 700;
}

li .seperator {
  border-top: 1px solid #e8e7e7;
  color: #fff;
  margin: 16px 30px;
  margin-bottom: 0px;
  display: block;
  position: relative;
  z-index: 3;
}

li .seperator_title {
  padding: 16px 30px;
  color: #72a5c1;
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
  z-index: 3;
}

li.inlinemenu ul {
  display: block;
  position: relative;
  top: auto;
  right: auto;
  width: auto;
  height: auto;
  box-shadow: none;
  padding-top: 0px;
  margin-bottom: 30px;
  background: transparent;
}

li ul:before {
  content: "";
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 10px;
  left: 0px;
  z-index: 3;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.03) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

li.inlinemenu ul:before {
  display: none;
}

li ul:after {
  content: "";
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 250px;
  left: 0px;
  z-index: 2;
  background: #fff;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.08);
}

.region-sidebar .block-system-branding-block .site-logo object {
  max-width: 64px;
  width: 100%;
  height: 44px;
  pointer-events: none;
}

.region-sidebar .mobmenu {
  display: none;
}

img {
  border: 0;
  vertical-align: middle;
  border-style: none;
}

li.inlinemenu ul li a {
  padding: 7px 30px;
}

.menu li a span {
  position: relative;
  z-index: 3;
}
.first-section1 {
  width: 852px;
  height: 75vh;
  display: inline-block;
  margin-left: 150px;
}
.background-image {
  background-color: #3d9985;
  width: 154%;
}

.main {
  width: calc(100% - 150px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
svg {
  position: relative;
  width: 65rem;
  display: inline-block;
  height: 29rem;
  left: 273px;
}
li{
  list-style: none;
  color: #fff;
}
.nav-con{
  position: absolute;
  top: 81px;
  left: 221px;
  list-style: none;
}
.col-text{
  position: absolute;
  top: 164px;
  left: 221px;
  color: #fff;
}
.location{
  display: flex;
  flex-wrap: wrap;
  width: 89%;
  margin-left: 150px;
  position: absolute;
  justify-content: center;
  gap: 25px;
}
.view-location1{
 
}
picture img {
  position: relative;
}
.image1 h4{
  position: absolute;
  top: 54px;
  left: 123px;
  font-size: 25px;
  color: #fff;
  width: 150px;
  line-height: 30px;
}
.view-content{
  box-shadow: 0px 4px 20px rgb(0 0 0 / 8%);
  border-radius: 10px;
}
.quardinates{
  margin-top: 0px;
}